
2,3,6,7,10,11.exe
1,3,5,7.exe
fibonacci.exe
half_pyramid.exe
Star pyramid.exe
Divisible by 11 or not.exe
sum till 100.exe
sum of dig in func.c
max.exe
*.typed
*.pyc
*.exe
*.bat
*.1
opencv-python/myenv/Lib/site-packages/six-1.16.0.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/six-1.16.0.dist-info/RECORD
*.ps1
*.cfg
opencv-python/Scripts/activate
opencv-python/myenv/Scripts/activate
opencv-python/myenv/Lib/site-packages/six.py
*.txt
opencv-python/myenv/Lib/site-packages/six-1.16.0.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/six-1.16.0.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/six-1.16.0.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/python_dateutil-2.8.2.dist-info/zip-safe
opencv-python/myenv/Lib/site-packages/python_dateutil-2.8.2.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/python_dateutil-2.8.2.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/python_dateutil-2.8.2.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/python_dateutil-2.8.2.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/python_dateutil-2.8.2.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/pyparsing/util.py
opencv-python/myenv/Lib/site-packages/pyparsing/unicode.py
opencv-python/myenv/Lib/site-packages/pyparsing/testing.py
opencv-python/myenv/Lib/site-packages/pyparsing/results.py
opencv-python/myenv/Lib/site-packages/pyparsing/helpers.py
opencv-python/myenv/Lib/site-packages/pyparsing/exceptions.py
opencv-python/myenv/Lib/site-packages/pyparsing/diagram/__init__.py
opencv-python/myenv/Lib/site-packages/pyparsing/core.py
opencv-python/myenv/Lib/site-packages/pyparsing/common.py
opencv-python/myenv/Lib/site-packages/pyparsing/actions.py
opencv-python/myenv/Lib/site-packages/pyparsing/__init__.py
opencv-python/myenv/Lib/site-packages/pyparsing-3.1.1.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/pyparsing-3.1.1.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/pyparsing-3.1.1.dist-info/METADATA
*.pyi
*.py
*.xml
*.gz
*.svg
*.png
*.mplstyle
*.pxd
*.dll
*.lib
*.pyd
*.h
*.csv
opencv-python/myenv/Lib/site-packages/numpy/f2py/tests/src/assumed_shape/.f2py_f2cmap
*.f90
*.pyx
*.f
*.npy
*.rst
*.pyf
*.md
*.ini
*.mod
*.npz
*.pem
*.c
opencv-python/Lib/site-packages/pip-23.2.1.dist-info/METADATA
opencv-python/Lib/site-packages/pip-23.2.1.dist-info/RECORD
opencv-python/Lib/site-packages/pip-23.2.1.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/contourpy-1.2.0.dist-info/INSTALLER
opencv-python/Lib/site-packages/pip-23.2.1.dist-info/REQUESTED
opencv-python/myenv/Lib/site-packages/contourpy-1.2.0.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/contourpy-1.2.0.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/cycler-0.12.1.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/cycler-0.12.1.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/cycler-0.12.1.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/cycler-0.12.1.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/cycler-0.12.1.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/fonttools-4.48.1.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/fonttools-4.48.1.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/fonttools-4.48.1.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/fonttools-4.48.1.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/kiwisolver-1.4.5.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/kiwisolver-1.4.5.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/kiwisolver-1.4.5.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/fonttools-4.48.1.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/kiwisolver-1.4.5.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/kiwisolver-1.4.5.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/DELVEWHEEL
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_AMSFONTS
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_BAKOMA
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_COLORBREWER
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_COURIERTEN
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_CARLOGO
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_JSXTOOLS_RESIZE_OBSERVER
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_QT4_EDITOR
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_SOLARIZED
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_STIX
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_YORICK
*.css
*.js
*.html
*.ipynb
opencv-python/myenv/Lib/site-packages/matplotlib/backends/web_backend/.prettierignore
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/REQUESTED
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE_QHULL
opencv-python/myenv/Lib/site-packages/matplotlib-3.8.2.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/contourpy-1.2.0.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/contourpy-1.2.0.dist-info/LICENSE
*.afm
*.ttf
*.json
opencv-python/myenv/Lib/site-packages/matplotlib/backends/web_backend/.prettierrc
opencv-python/myenv/Lib/site-packages/matplotlib/mpl-data/fonts/ttf/LICENSE_DEJAVU
*.pdf
*.dat
*.jpg
*.xrc
*.lua
opencv-python/myenv/Lib/site-packages/matplotlib/mpl-data/fonts/ttf/LICENSE_STIX
opencv-python/myenv/Lib/site-packages/matplotlib/mpl-data/matplotlibrc
*.whl
opencv-python/myenv/Lib/site-packages/numpy-1.26.4.dist-info/DELVEWHEEL
opencv-python/myenv/Lib/site-packages/numpy-1.26.4.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/numpy-1.26.4.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/numpy-1.26.4.dist-info/INSTALLER
*.pkl
*.cpp
opencv-python/myenv/Lib/site-packages/opencv_python-4.9.0.80.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/opencv_python-4.9.0.80.dist-info/REQUESTED
opencv-python/myenv/Lib/site-packages/opencv_python-4.9.0.80.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/opencv_python-4.9.0.80.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/opencv_python-4.9.0.80.dist-info/INSTALLER
*.build
opencv-python/myenv/Lib/site-packages/packaging-23.2.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/numpy/ma/LICENSE
opencv-python/myenv/Lib/site-packages/numpy/f2py/tests/src/f2cmap/.f2py_f2cmap
*.template
*.fits
opencv-python/myenv/Lib/site-packages/numpy-1.26.4.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/pyparsing-3.1.1.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/pyparsing-3.1.1.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/pip-23.2.1.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/pip-23.2.1.dist-info/REQUESTED
opencv-python/myenv/Lib/site-packages/pip-23.2.1.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/pip-23.2.1.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/pip-23.2.1.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/pillow-10.2.0.dist-info/zip-safe
opencv-python/myenv/Lib/site-packages/pillow-10.2.0.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/pillow-10.2.0.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/pillow-10.2.0.dist-info/METADATA
opencv-python/myenv/Lib/site-packages/pillow-10.2.0.dist-info/LICENSE
opencv-python/myenv/Lib/site-packages/pillow-10.2.0.dist-info/INSTALLER
opencv-python/myenv/Lib/site-packages/packaging-23.2.dist-info/WHEEL
opencv-python/myenv/Lib/site-packages/packaging-23.2.dist-info/RECORD
opencv-python/myenv/Lib/site-packages/packaging-23.2.dist-info/METADATA
*.BSD
opencv-python/myenv/Lib/site-packages/packaging-23.2.dist-info/LICENSE.APACHE
opencv-python/myenv/Lib/site-packages/packaging-23.2.dist-info/LICENSE
